@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

// positioning context
div {
  background: white;
  
  top: 22px;
  margin-top: 10px;
  padding-top: 10px;


  input[type="text" i] {
    padding: 1px 12px;
    color:rgb(10, 10, 10);
    height:40px;
    width: 350px;
    font-size: 20px;

}
  &.user-data {
      
      img{
        width: 150px;
        height: 150px;
    }
    span {
      border: 1px solid black;
      width: 300px;

    }
  }
}
